@import url(uno.css);
@import url(monokai.css);
@import url(icons.css);


/* Modifications */

.center-image {
  margin: 0 auto;
  display: block;
}

pre.highlight, .highlight pre {
  padding: 10px;
}

pre.highlight code, .highlight pre code {
  white-space: pre-wrap;
}

.btn, .navigation__item a {
  margin: 5px 0;
  white-space: nowrap;
}

.pagination__page-number {
  display: inline-block;
  padding: 10px;
}

.categories a, .tags a {
  border: 1px solid #e25440;
  border-radius: 20px;
  color: #e25440;
  display: inline-block;
  font-size: 12px;
  margin: 5px 0;
  padding: 5px 10px;
  text-shadow: none;
  white-space: nowrap;
}

@media all and (min-width: 769px) {
  .panel-inverted {
    color: #333;
    text-shadow: 0 1px 1px rgba(245, 245, 245, 0.4);
  }

  .panel-cover,
  .panel-cover--overlay {
    background-color: rgba(255, 255, 255, 0.6);
  	background-image: -webkit-linear-gradient(-410deg, rgba(255, 255, 255, 0.6) 20%, rgba(255, 255, 255, 0.9));
  	background-image: linear-gradient(140deg,rgba(255, 255, 255, 0.6) 20%, rgba(255, 255, 255, 0.9));
  }

  .panel-main__inner {
    vertical-align: top;
    padding: 60px 0 60px 60px;
  }

  .panel-inverted {
    text-align: right;
  }

  .panel-main__content * {
    color: #333;
    border-color: #333;
  }

  .panel-cover__description {
    margin: 15px 0 0 0;
    color: #666;
  }

  .cover-navigation--primary .navigation__item {
    display: block;
    text-align: right;
  }

  .navigation__item a {
    border: none;
    color: #333;
    opacity: .7;
    padding-right: 0;
  }

  .navigation__item a:hover,
  .navigation__item a i:hover {
    color: #e25440;
    border-color: #e25440;
    opacity: 1;
  }

}

.post-meta__tags {
  font-size: 12px;
  padding: 0 5px;
}

.user-image {
  margin-bottom: 2em;
  position: relative;
  width: auto;
  height: 325px;
  border-radius: 4px;
}

.blog-links {
  display: block;
  margin-bottom: 15px;
  font-size: 1em;
  color: #333 !important;
}

.footer {
  display: block;
  padding: 2em 0 0 0;
  border-top: none;
  font-size: .7em;
  color: #b3b3b3;
}

.footer__copyright {
  margin: 0;
}

.PageNavigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
  margin-bottom: 20px;
}

.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.PageNavigation .next {
  text-align: right;
}
