<!doctype html>
<html lang="en">
{% include head.html %}
<body>
  <main>
    <div class="grid grid-centered">
      <div class="grid-cell">
        {% include navigation.html %}
        {{ content }}
        {% include footer.html %}
        <div align="center">
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- Ad -->
          <ins class="adsbygoogle"
               style="display:block"
               data-ad-client="ca-pub-3328491356750317"
               data-ad-slot="6424115115"
               data-ad-format="auto"
               data-full-width-responsive="true"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
      </div>
    </div>
  </main>
  {% include javascripts.html %}
</body>
</html>
